<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer-content">
    <footer class="footer text-right">
        2023 © <a th:href="@{https://github.com/DL613}" target="_blank">Blog</a><div class=""></div>
    </footer>
</div>
<body th:fragment="footer">
<script th:src="@{//cdn.bootcss.com/jquery/2.2.3/jquery.min.js}"></script>
<script th:src="@{//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<script th:src="@{//cdn.bootcss.com/limonte-sweetalert2/6.4.1/sweetalert2.min.js}"></script>
<script th:src="@{/admin/js/jquery.app.js}"></script>
<script th:src="@{/admin/js/base.js}"></script>
</body>
</html>